/*myreset----*/
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #faf6ec;
  color: #584b4f;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 16px;
  line-height: 1;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

ul.stuffed {
  font-size: 0;
}

ul.stuffed li {
  font-size: 1rem;
}

/*----myreset*/

/*common----------*/
#App {
  z-index: 0;
}

#Discovery {
  z-index: 10000;
}

h1 {
  opacity: 0.8;
  width: 90%;
  border-bottom: 1px solid;
  margin: 2em auto 0.2em;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes hmm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-transform: translateX(-0.1em);
    transform: translateX(-0.1em);
  }
  4% {
    -webkit-transform: translateX(0.4em);
    transform: translateX(0.4em);
  }
  6% {
    -webkit-transform: translateX(-0.4em);
    transform: translateX(-0.4em);
  }
  8% {
    -webkit-transform: translateX(0.2em);
    transform: translateX(0.2em);
  }
  10% {
    -webkit-transform: translateX(-0.2em);
    transform: translateX(-0.2em);
  }
  12% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hmm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-transform: translateX(-0.1em);
    transform: translateX(-0.1em);
  }
  4% {
    -webkit-transform: translateX(0.4em);
    transform: translateX(0.4em);
  }
  6% {
    -webkit-transform: translateX(-0.4em);
    transform: translateX(-0.4em);
  }
  8% {
    -webkit-transform: translateX(0.2em);
    transform: translateX(0.2em);
  }
  10% {
    -webkit-transform: translateX(-0.2em);
    transform: translateX(-0.2em);
  }
  12% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hmm {
  -webkit-animation: hmm 5s ease infinite;
  animation: hmm 5s ease infinite;
}

/*----------common*/
